Repository iniactors/iniactors.github.io, pull requests merged in 2022-10, with the labels that each got.

#7 Viteを導入する
  .github/workflows/ci.yml
  .gitignore
  README.en.md
  README.md
  package.json
  public/apple-touch-icon.png
  public/favicon.ico
  public/share.jpg
  serve.py
  src/404.html
  src/btz-2022/index.html
  src/btz-2022/main.js
  src/btz-2022/style.css
  src/index.html
  vite.config.js
  yarn.lock
Labels: enhancement, INIAD FES 2022

#14 メイン画面を暫定的な3Dモデルで実装する
  package.json
  public/fonts/makinas4-subset.woff2
  src/btz-2022/back_to_zero_3d.glb
  src/btz-2022/index.html
  src/btz-2022/main.js
  src/btz-2022/style.css
  src/common.css
  src/index.html
  src/main.js
  src/style.css
  src/year.js
  yarn.lock
Labels: INIAD FES 2022

#15 ローディングアニメーションの実装
  package.json
  src/btz-2022/animation-common.css
  src/btz-2022/animation-moving.css
  src/btz-2022/animation.css
  src/btz-2022/back_to_zero.glb
  src/btz-2022/back_to_zero_3d.glb
  src/btz-2022/index.html
  src/btz-2022/main.js
  src/btz-2022/style.css
  src/img/cybercity01.jpg
  src/img/cybercity01.webp
  yarn.lock
Labels: enhancement, INIAD FES 2022

#22 カウントダウン・フォーム表示を実装する
  public/fonts/sourcecode-pro-subset.woff2
  src/btz-2022/about.html
  src/btz-2022/animation-common.css
  src/btz-2022/comment.html
  src/btz-2022/credit.html
  src/btz-2022/index.html
  src/btz-2022/index.js
  src/btz-2022/style.css
  src/img/back_to_zero_logo.png
  src/img/back_to_zero_logo.webp
  src/style.css
Labels: enhancement, INIAD FES 2022

#23 OGPに関しての設定
  public/btz_share.jpg
  src/btz-2022/about.html
  src/btz-2022/comment.html
  src/btz-2022/credit.html
  src/btz-2022/index.html
  src/btz-2022/style.css
Labels: enhancement, INIAD FES 2022

#24 3Dロゴモデルがビルド後表示されない問題を修正
  public/3d/back_to_zero.glb
  src/btz-2022/index.html
Labels: enhancement, INIAD FES 2022

#25 Back to Zero特設サイトのメインページのみビルドされるバグを修正
  src/btz-2022/comment.html
  src/btz-2022/credit.html
  vite.config.js
Labels: bug, INIAD FES 2022

#28 27 fix rendering bugs
  public/loading.png
  src/btz-2022/animation-moving.css
  src/btz-2022/animation.css
  src/btz-2022/index.html
  src/btz-2022/index.js
  src/btz-2022/style.css
Labels: bug, INIAD FES 2022

#29 noindexを解除 🎉
  src/btz-2022/about.html
  src/btz-2022/comment.html
  src/btz-2022/credit.html
  src/btz-2022/index.html
  src/index.html
Labels: enhancement

#30 Update circle info
  src/btz-2022/about.html
  src/btz-2022/comment.html
  src/btz-2022/credit.html
  src/btz-2022/index.html
  src/index.html
  src/style.css
Labels: enhancement

#32 Separate css file
  .github/workflows/ci.yml
  .github/workflows/pr_assigner.yml
  README.md
  src/btz-2022/README.md
  src/btz-2022/about.css
  src/btz-2022/about.html
  src/btz-2022/btz-common.css
  src/btz-2022/comment.css
  src/btz-2022/comment.html
  src/btz-2022/credit.css
  src/btz-2022/credit.html
  src/btz-2022/index.css
  src/btz-2022/index.html
Labels: enhancement, INIAD FES 2022

#36 モバイル版Safariでのトップページのナビゲーション非表示バグを修正
  src/btz-2022/btz-common.css
  src/btz-2022/index.css
Labels: bug, INIAD FES 2022

#33 コメントの大元を実装
  src/btz-2022/comment.css
  src/btz-2022/comment.html
  src/btz-2022/comment.js
  src/btz-2022/credit.css
  src/btz-2022/credit.html
  src/btz-2022/credit.js
  src/img/credit_0.png
  src/img/credit_1.png
  src/img/credit_2.png
  src/img/credit_3.png
  src/img/credit_4.png
  src/img/credit_5.png
  src/img/credit_6.png
Labels: enhancement, INIAD FES 2022

#40 Fix casting info
  src/btz-2022/about.css
  src/btz-2022/about.html
  src/btz-2022/credit.css
  src/btz-2022/credit.html
  src/img/credit_1.png
  src/img/credit_2.png
Labels: INIAD FES 2022
